<div class="sample" *ngIf="content">
  <div class="sample-option">
    <a href="javascript:void(0)" (click)="getMessageFromApi()">{{ content?.sample_text_button }}</a>
    <p class="sample-message">{{ message$ | async }}</p>
</div>
