/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
}

main {
  height: inherit;
  position: relative;

  & > * {
    height: inherit;
    position: absolute;
    width: 100%;
  }
}
